<footer class="site-footer">
  <div class="wrapper">
    <center>
      <div class="social-media-list">
        {% if site.email %}
          {% include icon-mail.html email=site.email %}
        {% endif %}

        {% if site.github_username %}
          {% include icon-github.html username=site.github_username %}
        {% endif %}

        {% if site.twitter_username %}
          {% include icon-twitter.html username=site.twitter_username %}
        {% endif %}

        {% include icon-rss.html %}
      </div>
    </center>
  </div>
</footer>
